<!DOCTYPE html>
  <html><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>mega angular scroller - jsFiddle demo by fernando</title>
  
  <script type="text/javascript" src="//code.jquery.com/jquery-1.8.3.js"></script>
  
  
  
  
  <link rel="stylesheet" type="text/css" href="/css/result-light.css">
  
    
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    
  
    
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.js"></script>
    
  
    
      <script type="text/javascript" src="//rawgit.com/muut/riotjs/master/riot.js"></script>
    
  
  <style type="text/css">
    html {
  box-sizing: border-box;    
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
    background-color: #f3f3f3;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.info {
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    background: rgb(33, 181, 237); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(33, 181, 237, .5);
    padding: 1em;
}
.item {
    min-height: 40px;
    /*margin: 1px 0;*/
    padding: 0.5em;
    border-bottom: 2px solid #F3F3F3;
}

.loading {
    color: #ccc;
}

block, item {
    display: block;
}

.megascroller, .item {
    background-color: white;
}

.clickable:hover {
    background-color: #FFFFCC;
}

#demo, #demo2 {
    height: 400px;
    overflow: auto;
    position: relative;
}
  </style>
  


<script type="text/javascript">//<![CDATA[ 
$(window).load(function(){
var configuration = {
    total_items: 1000,
    item_min_height: 40,
    chapters_per_book: false,
    pages_per_chapter: 5,
    items_per_page: 20
};

var names = ['John', 'Mark', 'Tim', 'Tom', 'Mary', 'Jane', 'Lisa', 'Homer', 'Marge', 'Chris', 'Lauren', 'Laura', 'Rachel', 'Bill', 'Ian', 'Ted'];
var surnames = ['Walschot', 'Simpson', 'Brown', 'Bond', 'Fallen', 'Miles', 'Little', 'Smith', 'Williams', 'Jackson', 'Johnson', 'Andersen', 'Mak', 'Boer', 'Moore', 'Martin'];
var contacts = [];
_.times(configuration.total_items, function(n){
    var name = names[_.random(0, names.length - 1)];
    var surname = surnames[_.random(0, surnames.length - 1)];
    contacts.push({id: n, name: name, surname: surname });
})
/*
* RetargetMouseScroll JavaScript Library v0.0.2
* 2009-07-30
* By Eli Grey, http://eligrey.com
*
* http://github.com/eligrey/RetargetMouseScroll/tree/master
*
* Licensed under the X11/MIT License
*   See LICENSE.md or http://eligrey.com/blog/about/license
*/

/*! @source http://purl.eligrey.com/github/RetargetMouseScroll/blob/master/
 *          RetargetMouseScroll.js
 */

if (typeof this.RetargetMouseScroll !== "function") (function() {
    var mouseScrollEvents = ["DOMMouseScroll", "mousewheel"];
    
    function handleScroll (evt, target, preventDefault, scrollMultiplier) {
        if (preventDefault) {
            if (evt.preventDefault) {
                evt.preventDefault();
            } else {
                event.returnValue = false;
            }
        }
        
        var scrollAmount = evt.detail
                           || (-evt.wheelDelta / 40); // convert wheelData to lines
        scrollAmount *= 19; // convert lines to pixels
        
        if (typeof scrollMultiplier === "number" && !isNaN(scrollMultiplier))
            scrollAmount *= scrollMultiplier;
        
        if (evt.wheelDeltaX || ("axis" in evt && "HORIZONTAL_AXIS" in evt && evt.axis == evt.HORIZONTAL_AXIS))
            // horizontal scroll
            if (target.scrollBy)
                target.scrollBy(scrollAmount, 0);
            else
                target.scrollLeft += scrollAmount;
        else // vertical scroll
            if (target.scrollBy)
                target.scrollBy(0, scrollAmount);
            else
                target.scrollTop += scrollAmount;
    };
    
    this.RetargetMouseScroll = function (elem, target, preventDefault, scrollMultiplier) {
        if (!elem)
            elem = document;
        
        if (!target)
            target = window;
        
        if (typeof preventDefault !== "boolean")
            preventDefault = true;
        
        var addListener, removeListener, restoreFn,
        handler = function (evt) {
            evt = evt || window.event;
            handleScroll(evt, target, preventDefault, scrollMultiplier);
        };
        
        if (addListener = elem.addEventListener) {
            addListener.call(elem, mouseScrollEvents[0], handler, false);
            addListener.call(elem, mouseScrollEvents[1], handler, false);
        }
        else if (addListener = elem.attachEvent)
            addListener.call(elem, "on"+mouseScrollEvents[1], handler);
        
        if (removeListener = elem.removeEventListener)
            restoreFn = function () {
                removeListener.call(elem, mouseScrollEvents[0], handler, false);
                removeListener.call(elem, mouseScrollEvents[1], handler, false);
            };
        else if (removeListener = elem.detachEvent)
            restoreFn = function () {
                removeListener.call(elem, "on"+mouseScrollEvents[1], handler);
            };
        
        return {
            restore: restoreFn
        };
    };
}).call(this);

//TODO use Actions idea from refluxjs
function Item(number){
    var item = this;
    
    riot.observable(item);
    
    item.init = function(options) {
        item.number = options.number;
        item.trigger(item.name + '_created', item);
    };
    
    item.destroy = function(){
        item.off('*');
        item.trigger(item.name + '_destroyed', item);
    };
    
    item.is_item = true;
}

Item.prototype.name = 'item';
Item.prototype.limit = 1;
Item.prototype.item_height = configuration.item_min_height;

function group(total, per_group) {
    return Math.ceil(total / per_group);
};

var total = {};
total.item = configuration.total_items;
total.page = group(total.item, configuration.items_per_page);
total.chapter = group(total.page, configuration.pages_per_chapter);

var height = {}
height.item = configuration.item_min_height;
height.page = (Math.min(configuration.items_per_page, total.item) || total.item)  * height.item; 
height.chapter = (Math.min(configuration.items_per_page * configuration.pages_per_chapter, total.item) || total.item)  * height.item; 

var half = false;
var contact_api = {
    id: function(contact) {
        return contact.id;
    },
    fullname: function(contact){
        var fullname = contact.name || '';
        if(fullname) {
            fullname += ' ';
        }
        
        fullname += contact.surname || '';
        
        return fullname;
    },
    insensitive: function(string) {
        return string.toLowerCase();
    },
    isEqual: function(contact1, contact2) {
        return contact_api.id(contact1) === contact_api.id(contact2);
    },
    order: function(contact1, contact2) {
        var order = 0;
        var order1 = contact_api._getOrder(contact1);
        var order2 = contact_api._getOrder(contact2);
        
        if(order1 < order2){
            order = -1;
        } else if (order1 > order2) {
            order = 1;
        }
        
        if(contact_api.order_dsc) {
            order = order * -1;
        }
        
        return order;
    },
    _getOrder: function(contact){
        var order = contact;
        var full_order = contact_api.order_by.split(':');
        _.each(full_order, function(intermediate_order){
            order = contact_api[intermediate_order](order);
        });
        
        return order;
    },
    order_by: 'fullname:insensitive',
    order_dsc: false,
    fetch: function(first, last, callback) {
        setTimeout(function(){
            
            /*var random_contacts;
            if(first > contacts.length / 3) {
                half = true;
            }
            
            if (!half){
            */
                random_contacts = contacts;
            /*} else {
                random_contacts = contacts.slice(0, contacts.length / 2 );
            }*/
            
            callback({
                items: random_contacts.slice(first, last + 1),
                total_items: random_contacts.length
            });
        }, 300);
    }
};

function ItemStore(item_api){
    var item_store = this;
    
    riot.observable(item_store);
    
    item_store.item_api = item_api || {};
    item_store.limit = 2;
    item_store.fetched_bunches = [];
    item_store.displayed_bunch = null;
    item_store.round = 0;
    
    item_store.on('display', function(first, last){
         item_store.displayed_bunch = new Bunch(first, last);
         item_store.updateDisplayedBunch(item_store.fetched_bunches);
    });
    
    item_store.on('fetch', function(first, last, more){
        var round = item_store.round++;
        
        item_store.item_api.fetch(first, last, function(response){
            item_store.trigger('fetched', {
                items: response.items,
                total_items: response.total_items,
                first: first,
                last: last
            }, round, more);
        });
    });
    
    item_store.on('fetched', function(fetched_items, round, more){
        
        var fetched_bunch = new Bunch(fetched_items.first, fetched_items.last);
        fetched_bunch.items = fetched_items.items;
        fetched_bunch.total_items = fetched_items.total_items;
        fetched_bunch.round = round;
        fetched_bunch.more = !!more;
        
        var added = item_store.addFetchedBunch(fetched_bunch);
        
        if(added) {
             item_store.updateDisplayedBunch([fetched_bunch]);
        }
    });
    
    item_store.on('removed', function(removed_items) {
        item_store.removeItems(removed_items, item_store.item_api.isEqual);
        item_store.updateDisplayedBunch(item_store.fetched_bunches);
    });
    
    item_store.on('added', function(added_items){
        item_store.addItems(added_items, item_store.item_api._getOrder);
        item_store.updateDisplayedBunch(item_store.fetched_bunches);
    });
}

var ItemStorePro = ItemStore.prototype;

ItemStorePro.totalItems = function(){
    var item_store = this;
    var length = item_store.fetched_bunches.length;
    if(length) {
        return item_store.fetched_bunches[length - 1].total_items;
    }
};

ItemStorePro.getBunch = function(first, last) {
    var item_store = this;
    
    var bunch = new Bunch(first, last);    
    bunch.update(item_store.fetched_bunches);
    
    return bunch;
};

ItemStorePro.updateDisplayedBunch = function(bunches) {
    var item_store = this;
    
    var total_items, displayed_size;
    var displayed_bunch = item_store.displayed_bunch;
    
    if(displayed_bunch){
        total_items = item_store.totalItems();
        
        if(_.isNumber(total_items) && total_items < displayed_bunch.last + 1 ) {
            displayed_size = displayed_bunch.size();
            displayed_bunch.last = total_items > 0? total_items - 1 : 0;
            displayed_bunch.first = Math.max(0, displayed_bunch.last - displayed_size);
        }
        
        if(displayed_bunch.update(bunches)) {
            item_store.trigger('changed', displayed_bunch);
        }
    }
};

ItemStorePro.addFetchedBunch = function(fetched_bunch) {
    var item_store = this;
    var added = true;
    var recent_bunch_index, nomore_bunch_index, first_bunch_index;
    
    var fetched_bunches = item_store.fetched_bunches;
    if(fetched_bunches.length === 0) {
        fetched_bunches.push(fetched_bunch);
    } else {
        recent_bunch_index = _.sortedIndex(fetched_bunches, fetched_bunch, 'round');
        fetched_bunches.splice(recent_bunch_index, 0, fetched_bunch);
        
        nomore_bunch_index = _.findLastIndex(fetched_bunches, {more: false});
        first_bunch_index = Math.max(0, nomore_bunch_index, fetched_bunches.length - item_store.limit);
        
        item_store.fetched_bunches = fetched_bunches.slice(first_bunch_index);
        added = (recent_bunch_index >= first_bunch_index);
    }
    
    return added;
};

ItemStorePro.removeItems = function(items, isEqual) {
    var removed_positions = _.chain(item_store.fetched_bunches).map(function(fetched_bunch){
        return fetched_bunch.remove(items, isEqual);
    }).flatten().value();
    
    if(removed_positions.length) {
        return removed_positions;
    }
}

ItemStorePro.addItems = function(items, order) {
    var added_positions = _.chain(item_store.fetched_bunches).map(function(fetched_bunch){
        return fetched_bunch.add(items, order);
    }).flatten().value();
    
    if(added_positions.length) {
        return added_positions;
    }
}

function Bunch(first, last){
    this.first = first;
    this.last = last;
}

var BunchPro = Bunch.prototype;

BunchPro.size = function(){
    return (this.last - this.first) + 1;// it starts on zero
}

BunchPro.positions = function(){
    return _.range(this.first, this.size());
}

BunchPro.initItems = function() {
    var items = [];
    var size = this.size();
    
    for(var i = 0; i < size; i++) {
        items.push(null);
    }
    
    this.items = items;
};

BunchPro.fill = function(other_bunch){
    var bunch = this;
    var filled = false;
    
    if(!bunch.items) {
        bunch.initItems(); 
    }
    
    var first_position = Math.max(bunch.first, other_bunch.first) - bunch.first;
    var last_position = Math.min(bunch.last, other_bunch.last) - bunch.first;
    
    var i, length = last_position + 1;    
    for(i = first_position; i < length; i = i + 1) {
        bunch.items[i] = other_bunch.items[(bunch.first + i) - other_bunch.first];
        filled = true;
    }
    
    return filled;
}

BunchPro.update = function(other_bunches) {
    var bunch = this;

    var total_items, updated = false;
    _.each(other_bunches, function(other_bunch){
        updated = bunch.fill(other_bunch) || updated;
        total_items = other_bunch.total_items;
    });

    if(bunch.total_items !== total_items) {
        bunch.total_items = total_items;
        updated = true;
    }
    
    return updated;
}

BunchPro.isEqual = function(a, b){
    return a === b;
};

BunchPro.remove = function(item_to_remove, isEqual){
    var bunch = this;
    var removed = false;
    
     bunch.total_items = bunch.total_items - 1;
    
    isEqual = isEqual || bunch.isEqual;
    bunch.items = _.reject(bunch.items, function(item){
        if(isEqual(item, item_to_remove)) {
            removed = true;
            return removed;
        }
    });
    
    
    return removed;
}

BunchPro.add = function(item_to_add, order) {
    var bunch = this;
    var added = false;
    
    bunch.total_items = bunch.total_items + 1;
    
    if(!bunch.items) {
        return;
    } 
    var index = _.sortedIndex(bunch.items, item_to_add, order);
    
    var size = bunch.size();
    if(index === size) {
        return -1;//out of scope
    }
        
    bunch.last = bunch.last + 1;
    if(index === 0 && size > 0) {
        bunch.first = bunch.first + 1;
        return -1;//out of scope
    }
    
    bunch.items.splice(index, 0, item_to_add);
    return (bunch.first + index);
}


function Megascroller(item_store){
    riot.observable(this);
    
    var megascroller = this;
    megascroller.pages = [];
    megascroller.chapters = [];
    
    megascroller.on('refresh', function(zone){
        megascroller.refreshChapters(zone);
        megascroller.refreshPages(zone);
    });
    
    megascroller.refreshPages = function(zone){    
        var first_page = Math.max( Math.floor((zone.top - zone.cushion) / height.page), 0);
        var last_page =  Math.min( Math.floor((zone.bottom + zone.cushion) / height.page), total.page - 1);
        
        var current_open_pages = megascroller.pages;
        var next_open_pages = _.range(first_page, last_page + 1);
        
        var pages_to_remove = _.difference(current_open_pages, next_open_pages);
        var pages_to_add = _.difference(next_open_pages, current_open_pages);
        
        if(pages_to_remove.length || pages_to_add.length) {
            var first_item = first_page * configuration.items_per_page;
            var last_item = Math.min((last_page + 1) * configuration.items_per_page, total.item) - 1;
            
            item_store.trigger('display', first_item, last_item);
            megascroller.pages = next_open_pages;
        }
    };
    
    megascroller.refreshChapters = _.debounce(function(zone){
        var items_per_chapter = configuration.pages_per_chapter * configuration.items_per_page;
        var first_chapter = Math.max( Math.floor((zone.top - zone.cushion) / height.chapter), 0);
        var last_chapter =  Math.min( Math.floor((zone.bottom + zone.cushion) / height.chapter), total.chapter - 1);
        
        var current_open_chapters = megascroller.chapters;
        var next_open_chapters = _.range(first_chapter, last_chapter + 1);
        
        var chapters_to_remove = _.difference(current_open_chapters, next_open_chapters);
        var chapters_to_add = _.difference(next_open_chapters, current_open_chapters);
        
        _.each(chapters_to_add, function(chapter_number){
            console.log('fetching chapter ', chapter_number);
            console.log(zone.bottom, zone.cushion, height.chapter, Math.floor((zone.bottom + zone.cushion) / height.chapter));
    
            var first_item = chapter_number * items_per_chapter;
            var last_item = Math.min((chapter_number + 1) * items_per_chapter, total.item) - 1;
            item_store.trigger('fetch', first_item, last_item, megascroller.chapters.length);
        });
        
        megascroller.chapters = next_open_chapters;
    }, 100);
};



function Zone(screen, cushion){
    var zone = this;
    riot.observable(zone);
    
    zone.cushion = cushion || 0;
    zone.screen = screen;
    zone.element = screen || document.getElementsByTagName('body')[0];
    
    
    zone.init = function() {
        zone.resize();
        window.addEventListener('resize', refreshOnResize, false);
        zone.element.addEventListener('scroll', refreshOnScroll, false);
        
        zone.removeCover = cover.addScroller(zone.element);
    }
    
    zone.destroy = function() {
        window.removeEventListener('resize', refreshOnResize, false);
        zone.element.removeEventListener('scroll', refreshOnScroll, false);
        
        zone.removeCover();
    }
    
    var time_before;
    var position_before;
    
    var refreshOnScroll = _.throttle(function(e){
        var position = zone.element.scrollTop;
        zone.change(position);
        
        if(time_before) {
            var delta_t = e.timeStamp - time_before;
            var delta_p = position - position_before;
        }
        time_before = e.timeStamp;
        position_before = position;
        
        //console.log(delta_p/delta_t);
        
    }, 10, {leading: false});
    
    var refreshOnResize = _.throttle(function(){
        zone.resize();
    }, 700, {leading: false});
    
}

var ZonePro = Zone.prototype;
ZonePro.change = function(top, height){
    height = height || this.screen_height || 0;
    
    this.top = top;
    this.bottom = top + height;
    this.screen_height = height;
    
    this.trigger('changed', this);
}

ZonePro.resize = function(){
    var top = this.top || 0;// on resize there is no change on the top
    var height = this._getScreenHeight();
    
    this.change(top, height);
}

ZonePro._getScreenHeight = function() {
    if(!this.screen) {
        return window.innerHeight;
    } else {
        return this.screen.clientHeight;
    }
}

var cover = {
    support: (function support() {
        var element = document.createElement('div');
        element.style.cssText = 'pointer-events:auto';
        return (element.style.pointerEvents === 'auto') &&
            (typeof document.body.addEventListener === 'function');
    }()),
    init: function(){
        var cover = this;
        
        if(!cover.support) {
            return;
        }

        
        if(cover.element) {
            cover.destroy();
        }
        var body = document.body;
        cover.element = document.createElement('div');
        cover.style = cover.element.style;
        cover.scrollers = [];
        
        
        cover.style.cssText = [
            '-webkit-transform: translate3d(0,0,0);',
            'transform: translate3d(0,0,0);',
            'position: fixed;',
            'top: 0;',
            'right: 0;',
            'left: 0;',
            'bottom: 0;',
            'opacity: 0;',
            'z-index: 2147483647;',
            'pointer-events: none'
        ].join('');
    },
    destroy: function(){
        var cover = this;
        
        cover.scrollers.map(function(remove){
            remove();
        });
        
        cover.element.remove();
    },
    addScroller: function(screen) {
        var cover = this;
        
        if(!screen) {
            return;
        }
        
        if(!cover.element) {
            cover.init();
        }
        
        var timer;
        var scroll_started = false;
        var cover_style = cover.style;
        var retargetting;
        
        screen.appendChild(cover.element);
        screen.addEventListener('scroll', function scroll() {
            if(!scroll_started) {
                cover_style.pointerEvents = 'auto';
                scroll_started = true;
                retargetting = RetargetMouseScroll(cover.element, screen);
            }
            clearTimeout(timer);
    
            timer = setTimeout(function(){
                cover_style.pointerEvents = 'none';
                scroll_started = false;
                retargetting.restore();
            },500);
        }, false);
    
        function removeScroller(){
            screen.removeEventListener('scroll', scroll, false);
            if(retargetting) {
                retargetting.restore();
            }
        };

        cover.scrollers.push(removeScroller);

        return removeScroller;
    }
}


var myApp = angular.module('myApp', []);


var itemDirective = function(){
    return {
        restrict: 'E',
        replace: true,
        template: '<div class="item clickable"><span ng-if="item">{{::item.id}}.- {{::item.name}} {{::item.surname}}</span><span class="loading" ng-show="!item">loading...</span></div>',
        link: function(scope, element, attrs){
            var item_tag = scope; 
            
            item_tag.type = scope.type;
            item_tag.number = parseInt(scope.number);
            
            var action = {
                remove: item_tag.type + '_remove'
            }
        
        }
    }
}

myApp.directive('item', itemDirective);

var megascrollerDirective = function(){
    return {
        restrict: 'A',
        scope: {},
        replace: false,
        template: '<div class="megascroller" ng-style="style"><item ng-repeat="item in displayed_bunch.items track by id($index)" type="item" number="{{ displayed_bunch.first + $index }}"></item></div><div class="info"><div>Total items: <span ng-bind="displayed_bunch.total_items"></span></div><div>Displayed: <span ng-bind="displayed_bunch.first"></span>, <span ng-bind="displayed_bunch.last"></span></div></div>',
        link: function(scope, element, attrs){
            var megascroller_tag = scope;
    
            var item_store = new ItemStore(contact_api);
            var megascroller = new Megascroller(item_store);
            var zone = new Zone( element[0], height.page / 2);
            
            megascroller_tag.item_api = contact_api;
            megascroller_tag.displayed_bunch = null;
            megascroller_tag.padding_top = 0;
            megascroller_tag.height = 0;
            
            megascroller_tag.id = function(index) {
                return megascroller_tag.displayed_bunch.first + index;
            }
            
            megascroller_tag.update = function(new_displayed_bunch){
                scope.$evalAsync(function(){
                    megascroller_tag.padding_top = (new_displayed_bunch.first || 0) * height.item;
                    megascroller_tag.height = new_displayed_bunch.total_items * height.item;
                    
                    megascroller_tag.style= {
                        'height': megascroller_tag.height+'px', 
                        'padding-top': megascroller_tag.padding_top+'px'
                    };
                    
                    megascroller_tag.displayed_bunch = new_displayed_bunch;
                });
            };
                    
            item_store.on("changed", megascroller_tag.update);
            
            zone.on('changed', function(zone){
                megascroller.trigger('refresh', zone);
            });
            
            megascroller_tag.$on('$destroy', function(){
                zone.destroy();
            });

             zone.init();
        
        }
    }
}

myApp.directive('megascroller', megascrollerDirective);

$(document).ready(function() {
    angular.bootstrap(document, ['myApp']);
});


});//]]>  

</script>


</head>
<body>
  <div id="demo" megascroller="" class="ng-isolate-scope"></div>
</body></html>